YT_CLIENT_ID=
YT_CLIENT_SECRET=
YT_REDIRECT_URI=http://localhost:3000/auth/youtube/callback

FB_APP_ID=
FB_APP_SECRET=
FB_REDIRECT_URI=http://localhost:3000/auth/facebook/callback

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:3000/auth/twitch/callback

PORT=3000
RTMP_PORT=1935
LOCAL_STREAM_KEY=multistream-live
FB_API_VERSION=v25.0
